body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

table {
  margin: auto;
  width: 70%;
  border-collapse: collapse;
  background: #1e293b;
}

th, td {
  padding: 10px;
  border: 1px solid #334155;
}

th {
  background: #2563eb;
}

.UP { color: #22c55e; }
.DOWN { color: #ef4444; }

button {
  padding: 12px 25px;
  margin: 20px;
  background: linear-gradient(135deg, #3b82f6, #2563eb);
  color: white;
  border: none;
  border-radius: 12px; /* 🔥 rounded */
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;

  /* smooth animation */
  transition: all 0.2s ease;

  /* shadow for depth */
  box-shadow: 0 6px 0 #1e40af;
}

/* 🟢 Hover effect */
button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 0 #1e40af;
}

/* 🔴 CLICK (PUSH DOWN EFFECT) */
button:active {
  transform: translateY(4px);
  box-shadow: 0 2px 0 #1e40af;
}

/* disabled state */
button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  box-shadow: none;
}
.chart-container {
  width: 60%;
  max-width: 600px;
  margin: 30px auto;
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

canvas {
  width: 100% !important;
  height: 300px !important;
}
